.input-group select {
  width: 100%;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  background-color: #fff;
  color: #333;
  margin-top: 5px;
}

.error-msg {
  background: #ffd2d2;
  color: #a70000;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 15px;
  text-align: center;
}
